.root:global(.__wab_instance) {
  position: relative;
}
.freeBox__kfbwy {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.freeBox__t9OwE {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 8px;
}
.slotTargetName {
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  color: var(--token-NEon4Y--Z);
}
.text__rf3Gc {
  font-size: 48px;
}
.freeBox__eemzn {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  position: relative;
  row-gap: 8px;
}
.bullet___2Mb9I:global(.__wab_instance) {
  position: relative;
}
.bullet___6Sa6N:global(.__wab_instance) {
  position: relative;
}
.bullet__eb4Oi:global(.__wab_instance) {
  position: relative;
}
.freeBox__mkHgM {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: 13px;
}
.button__jkOB:global(.__wab_instance) {
  position: relative;
}
.svg___6Fe87 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__jcwlC {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__u253N {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
