.root:global(.__wab_instance) {
  position: relative;
  background: var(--token-YMDZE7Svla9D);
  display: flex;
  cursor: pointer;
  box-sizing: border-box;
  min-width: var(--token-rF7dxCNFg2yO);
  font-family: var(--token-yXm_0-h1rIqi);
  font-size: var(--token-Wd6_bo1gvu55);
  line-height: var(--token-dBdV0gebCqMP);
  outline-style: none;
  text-decoration-line: none;
  border-radius: var(--token-i2a7nbH3J8UY);
  padding: 0rem;
  border-width: 0px;
}
.root[data-focus-visible]:global(.__wab_instance) {
  outline-style: solid;
  outline-width: var(--token-N6MKaZeRAIQb);
  outline-offset: 1px;
  outline-color: var(--token-YMDZE7Svla9D);
}
.root[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
}
.rootcolor_neutral:global(.__wab_instance) {
  background: var(--token-uQytyxVtT4s6);
}
.rootcolor_muted:global(.__wab_instance) {
  background: var(--token-hYppgHMlA3Im);
}
.rootcolor_success:global(.__wab_instance) {
  background: var(--token-wALOXJc1zTon);
}
.rootcolor_warning:global(.__wab_instance) {
  background: var(--token-MKf1CEgX734D);
}
.rootcolor_errorDestructive:global(.__wab_instance) {
  background: var(--token-C-X78TBsqbkP);
}
.roottype_soft:global(.__wab_instance) {
  background: none;
}
.roottype_bordered:global(.__wab_instance) {
  background: none;
}
.rootsize_extraSmall:global(.__wab_instance) {
  line-height: var(--token-XK89Mx3ypFJk);
  font-size: var(--token-8_Ger5ZjXfZ5);
  column-gap: var(--token-N6MKaZeRAIQb);
  row-gap: 0px;
  border-radius: var(--token-IG802jWU_qWp);
}
.rootsize_small:global(.__wab_instance) {
  font-size: var(--token-8_Ger5ZjXfZ5);
  line-height: var(--token-XK89Mx3ypFJk);
  column-gap: var(--token-IG802jWU_qWp);
  row-gap: 0px;
  border-radius: var(--token-IG802jWU_qWp);
}
.rootsize_large:global(.__wab_instance) {
  font-size: var(--token-pnW_ZI01z8WO);
  line-height: var(--token-BilK6f_atFMu);
}
.rootsize_extraLarge:global(.__wab_instance) {
  font-size: var(--token-pnW_ZI01z8WO);
  line-height: var(--token-BilK6f_atFMu);
}
.rootroundedFull:global(.__wab_instance) {
  border-radius: 99px;
}
.rootflatSide_top:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-top-left-radius: 0rem;
}
.rootflatSide_right:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.rootflatSide_bottom:global(.__wab_instance) {
  border-bottom-right-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.rootflatSide_left:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.softBackground {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background: var(--token-ERBYmZi59wpu);
  border-radius: var(--token-i2a7nbH3J8UY);
}
.softBackgroundcolor_neutral {
  background: var(--token-kcinLTo807Dr);
}
.softBackgroundcolor_muted {
  background: var(--token-CljjtlmBSWr_);
}
.softBackgroundcolor_success {
  background: var(--token-VcnOsSD4t7rR);
}
.softBackgroundcolor_warning {
  background: var(--token-sreOsMIBrdpm);
}
.softBackgroundcolor_errorDestructive {
  background: var(--token-wHI1blXieMSx);
}
.softBackgroundtype_soft {
  display: block;
}
.roottype_bordered[data-hovered] .softBackgroundtype_bordered {
  display: block;
}
.roottype_bordered[data-pressed] .softBackgroundtype_bordered {
  display: block;
}
.softBackgroundroundedFull {
  border-radius: 99px;
}
.border {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  border-radius: var(--token-i2a7nbH3J8UY);
  border: 0px solid var(--token-Y_ixalnHxqYJ);
}
.bordercolor_neutral {
  border-color: var(--token-v5lBpES5HxQv);
}
.bordercolor_muted {
  border-color: var(--token--7PyRBJ0buDb);
}
.bordercolor_success {
  border-color: var(--token-MEtXylmhnxZc);
}
.bordercolor_warning {
  border-color: var(--token-CZPrYpPDTug6);
}
.bordercolor_errorDestructive {
  border-color: var(--token-5DbgJGjXckck);
}
.bordertype_bordered {
  background: none;
  display: block;
  border-width: 1px;
}
.borderroundedFull {
  border-radius: 99px;
}
.borderflatSide_top {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}
.borderflatSide_right {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_bottom {
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_left {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.interactionEffect {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  border-radius: var(--token-i2a7nbH3J8UY);
}
.root[data-hovered] .interactionEffect {
  background: var(--token-oG7BX-uKs8Sg);
}
.root[data-disabled] .interactionEffect {
  background: var(--token-rgkdl_CYZOAN);
}
.root[data-pressed] .interactionEffect {
  background: var(--token-tnHkhLAPXfSF);
}
.roottype_bordered[data-hovered] .interactionEffecttype_bordered {
  display: none;
}
.interactionEffectroundedFull {
  border-radius: 99px;
}
.freeBox__bWcKg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  column-gap: var(--token-i2a7nbH3J8UY);
  min-width: 0;
  min-height: 0;
  padding: var(--token-i2a7nbH3J8UY) var(--token-QewKiWJbByBM);
}
.freeBoxsize_extraSmall__bWcKGnEqiT {
  padding: var(--token-IG802jWU_qWp) var(--token-i2a7nbH3J8UY);
}
.freeBoxsize_small__bWcKgTgWAs {
  padding: var(--token-i2a7nbH3J8UY) var(--token-rF7dxCNFg2yO);
}
.freeBoxsize_large__bWcKGmDWO {
  padding-top: var(--token-IG802jWU_qWp);
  padding-bottom: var(--token-IG802jWU_qWp);
}
.freeBoxsize_extraLarge__bWcKGiHCfJ {
  padding-left: var(--token-IwWD-5aGe_KT);
  padding-right: var(--token-IwWD-5aGe_KT);
}
.freeBoxroundedFull__bWcKGwG56Y {
  padding-right: var(--token-IwWD-5aGe_KT);
  padding-left: var(--token-IwWD-5aGe_KT);
}
.freeBox__shovW {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconStart__shovWKyO {
  display: flex;
}
.slotTargetStart {
  color: var(--token-xV24Si41FTTP);
}
.slotTargetStartcolor_neutral {
  color: var(--token-x3QBnUORNvrr);
}
.slotTargetStartcolor_muted {
  color: var(--token-wLx0VV7qoepZ);
}
.slotTargetStartcolor_success {
  color: var(--token-W9S3Nb2M4hD-);
}
.slotTargetStartcolor_warning {
  color: var(--token-7WY7kcfnrfMu);
}
.slotTargetStartcolor_errorDestructive {
  color: var(--token-1O_S8mtBi4na);
}
.slotTargetStarttype_soft {
  color: var(--token-YpKU_nJurxck);
}
.slotTargetStarttype_bordered {
  color: var(--token-YpKU_nJurxck);
}
.slotTargetStartsize_extraSmall {
  font-size: var(--token-8_Ger5ZjXfZ5);
}
.slotTargetStartsize_small {
  font-size: var(--token-8_Ger5ZjXfZ5);
}
.slotTargetStartsize_large {
  font-size: var(--token-pnW_ZI01z8WO);
}
.slotTargetStartsize_extraLarge {
  font-size: var(--token-pnW_ZI01z8WO);
}
.slotTargetStartcolor_neutral_type_soft {
  color: var(--token-3Kiwd758DGuK);
}
.slotTargetStarttype_bordered_color_neutral {
  color: var(--token-3Kiwd758DGuK);
}
.slotTargetStartcolor_muted_type_soft {
  color: var(--token-f26NSJIrMNGb);
}
.slotTargetStartcolor_muted_type_bordered {
  color: var(--token-f26NSJIrMNGb);
}
.slotTargetStartcolor_success_type_soft {
  color: var(--token-khxBzJ96DBiL);
}
.slotTargetStartcolor_success_type_bordered {
  color: var(--token-khxBzJ96DBiL);
}
.slotTargetStartcolor_warning_type_soft {
  color: var(--token-KI4X6H_4XXKp);
}
.slotTargetStartcolor_warning_type_bordered {
  color: var(--token-KI4X6H_4XXKp);
}
.slotTargetStartcolor_errorDestructive_type_soft {
  color: var(--token-m3FPp8M9mk83);
}
.slotTargetStartcolor_errorDestructive_type_bordered {
  color: var(--token-m3FPp8M9mk83);
}
.svg__wtcof {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
.slotTargetLabel {
  color: var(--token-xV24Si41FTTP);
}
.slotTargetLabelcolor_neutral {
  color: var(--token-x3QBnUORNvrr);
}
.slotTargetLabelcolor_muted {
  color: var(--token-wLx0VV7qoepZ);
}
.slotTargetLabelcolor_success {
  color: var(--token-W9S3Nb2M4hD-);
}
.slotTargetLabelcolor_warning {
  color: var(--token-7WY7kcfnrfMu);
}
.slotTargetLabelcolor_errorDestructive {
  color: var(--token-1O_S8mtBi4na);
}
.slotTargetLabeltype_soft {
  color: var(--token-YpKU_nJurxck);
}
.slotTargetLabeltype_bordered {
  color: var(--token-YpKU_nJurxck);
}
.slotTargetLabelcolor_neutral_type_soft {
  color: var(--token-3Kiwd758DGuK);
}
.slotTargetLabelcolor_muted_type_soft {
  color: var(--token-f26NSJIrMNGb);
}
.slotTargetLabeltype_bordered_color_neutral {
  color: var(--token-3Kiwd758DGuK);
}
.slotTargetLabelcolor_success_type_soft {
  color: var(--token-khxBzJ96DBiL);
}
.slotTargetLabelcolor_muted_type_bordered {
  color: var(--token-f26NSJIrMNGb);
}
.slotTargetLabelcolor_warning_type_soft {
  color: var(--token-KI4X6H_4XXKp);
}
.slotTargetLabelcolor_success_type_bordered {
  color: var(--token-khxBzJ96DBiL);
}
.slotTargetLabelcolor_errorDestructive_type_soft {
  color: var(--token-m3FPp8M9mk83);
}
.slotTargetLabelcolor_warning_type_bordered {
  color: var(--token-KI4X6H_4XXKp);
}
.slotTargetLabelcolor_errorDestructive_type_bordered {
  color: var(--token-m3FPp8M9mk83);
}
.text__idkd {
  white-space: pre;
}
.freeBox__kZ7G {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconEnd__kZ7GtSg1 {
  display: flex;
}
.slotTargetEnd {
  color: var(--token-xV24Si41FTTP);
}
.slotTargetEndcolor_neutral {
  color: var(--token-x3QBnUORNvrr);
}
.slotTargetEndcolor_muted {
  color: var(--token-wLx0VV7qoepZ);
}
.slotTargetEndcolor_success {
  color: var(--token-W9S3Nb2M4hD-);
}
.slotTargetEndcolor_warning {
  color: var(--token-7WY7kcfnrfMu);
}
.slotTargetEndcolor_errorDestructive {
  color: var(--token-1O_S8mtBi4na);
}
.slotTargetEndtype_soft {
  color: var(--token-YpKU_nJurxck);
}
.slotTargetEndtype_bordered {
  color: var(--token-YpKU_nJurxck);
}
.slotTargetEndsize_extraSmall {
  font-size: var(--token-8_Ger5ZjXfZ5);
}
.slotTargetEndsize_small {
  font-size: var(--token-8_Ger5ZjXfZ5);
}
.slotTargetEndsize_large {
  font-size: var(--token-pnW_ZI01z8WO);
}
.slotTargetEndsize_extraLarge {
  font-size: var(--token-pnW_ZI01z8WO);
}
.slotTargetEndcolor_neutral_type_soft {
  color: var(--token-3Kiwd758DGuK);
}
.slotTargetEndtype_bordered_color_neutral {
  color: var(--token-3Kiwd758DGuK);
}
.slotTargetEndcolor_muted_type_soft {
  color: var(--token-f26NSJIrMNGb);
}
.slotTargetEndcolor_muted_type_bordered {
  color: var(--token-f26NSJIrMNGb);
}
.slotTargetEndcolor_success_type_soft {
  color: var(--token-khxBzJ96DBiL);
}
.slotTargetEndcolor_success_type_bordered {
  color: var(--token-khxBzJ96DBiL);
}
.slotTargetEndcolor_warning_type_soft {
  color: var(--token-KI4X6H_4XXKp);
}
.slotTargetEndcolor_warning_type_bordered {
  color: var(--token-KI4X6H_4XXKp);
}
.slotTargetEndcolor_errorDestructive_type_soft {
  color: var(--token-m3FPp8M9mk83);
}
.slotTargetEndcolor_errorDestructive_type_bordered {
  color: var(--token-m3FPp8M9mk83);
}
.svg__oLe5W {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
