.root {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  column-gap: 0px;
  width: 100%;
  height: auto;
  position: relative;
  justify-content: flex-start;
  align-items: center;
  row-gap: 32px;
  min-width: 0;
  padding: 32px;
}
.freeBox__rb4IY {
  display: block;
  position: relative;
  width: 100%;
  height: 1px;
  min-width: 0;
  flex-shrink: 0;
  border: 1px solid var(--token-E9_1ZKlj7Q1t);
}
.freeBox__zk2TE {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.link {
  position: relative;
  color: var(--token-5yZyLb7pA57d);
  height: auto;
  font-size: 16px;
  margin-right: 20px;
}
.root .link:hover {
  text-decoration-line: underline;
}
.text {
  position: relative;
  height: auto;
  width: auto;
  font-size: 16px;
  color: var(--token-5yZyLb7pA57d);
  padding-left: 0px;
}
.svg {
  object-fit: cover;
  max-width: 100%;
  position: absolute;
  left: auto;
  top: 0;
  z-index: 1;
  right: 0;
  bottom: 0;
  height: 50px;
}
