.root:global(.__wab_instance) {
  width: 300px;
  box-sizing: border-box;
  object-fit: cover;
  background: var(--token-6n_Fkn_Tf5l1);
  position: relative;
  overflow: auto;
  box-shadow: 0px 0px 12px 0px #00000040,
    0px 0px 0px 0.5px var(--token--7PyRBJ0buDb);
  border-radius: var(--token-QewKiWJbByBM);
  padding: var(--token-i2a7nbH3J8UY);
}
.ariaListBox:global(.__wab_instance) {
  box-sizing: border-box;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  outline-style: none;
  min-width: 0;
}
.menuSection__pkOs:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
