@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C800%3B0%2C900&family=Inconsolata%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C800%3B0%2C900&family=Playfair+Display%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C800%3B0%2C900&family=Oswald%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=IBM+Plex+Sans%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700&display=swap");

.plasmic_tokens {
  --token-E9_1ZKlj7Q1t: rgb(234, 234, 234);
  --plasmic-token-divider: var(--token-E9_1ZKlj7Q1t);
  --token-imLrG7IVaIpS: rgb(255, 255, 255);
  --plasmic-token-white: var(--token-imLrG7IVaIpS);
  --token-5yZyLb7pA57d: #666666;
  --plasmic-token-text: var(--token-5yZyLb7pA57d);
  --token--5BxrCAHYYGH: 1104px;
  --plasmic-token-max-content-width: var(--token--5BxrCAHYYGH);
  --token-hVfcb8r6pWxK: #066d5a;
  --plasmic-token-tachi-4: var(--token-hVfcb8r6pWxK);
  --token-fR_GCupq8N2Z: #cabb9d;
  --plasmic-token-tachi-2: var(--token-fR_GCupq8N2Z);
  --token-zELWlupfWekF: #0082b240;
  --plasmic-token-: var(--token-zELWlupfWekF);
  --token-gvqxAtBudtSS: #0082b21a;
  --plasmic-token-tachi-6: var(--token-gvqxAtBudtSS);
  --token-YMDZE7Svla9D: #2563eb;
  --plasmic-token-brand-brand: var(--token-YMDZE7Svla9D);
  --token-rF7dxCNFg2yO: 0.5rem;
  --plasmic-token-size-8: var(--token-rF7dxCNFg2yO);
  --token-yXm_0-h1rIqi: Inter;
  --plasmic-token-sans-serif: var(--token-yXm_0-h1rIqi);
  --token-Wd6_bo1gvu55: 1rem;
  --plasmic-token-font-md: var(--token-Wd6_bo1gvu55);
  --token-dBdV0gebCqMP: 1.25;
  --plasmic-token-line-height-md: var(--token-dBdV0gebCqMP);
  --token-i2a7nbH3J8UY: 0.375rem;
  --plasmic-token-size-6: var(--token-i2a7nbH3J8UY);
  --token-uQytyxVtT4s6: #374151;
  --plasmic-token-neutral-neutral: var(--token-uQytyxVtT4s6);
  --token-C-X78TBsqbkP: #dc2626;
  --plasmic-token-destructive-destructive: var(--token-C-X78TBsqbkP);
  --token-hYppgHMlA3Im: #6b7280;
  --plasmic-token-muted-muted: var(--token-hYppgHMlA3Im);
  --token-IG802jWU_qWp: 0.25rem;
  --plasmic-token-size-4: var(--token-IG802jWU_qWp);
  --token-8_Ger5ZjXfZ5: 0.75rem;
  --plasmic-token-font-sm: var(--token-8_Ger5ZjXfZ5);
  --token-XK89Mx3ypFJk: 1;
  --plasmic-token-line-height-sm: var(--token-XK89Mx3ypFJk);
  --token-pnW_ZI01z8WO: 1.25rem;
  --plasmic-token-font-lg: var(--token-pnW_ZI01z8WO);
  --token-BilK6f_atFMu: 1.4;
  --plasmic-token-line-height-lg: var(--token-BilK6f_atFMu);
  --token-N6MKaZeRAIQb: 0.125rem;
  --plasmic-token-size-2: var(--token-N6MKaZeRAIQb);
  --token-wALOXJc1zTon: #16a34a;
  --plasmic-token-success-success: var(--token-wALOXJc1zTon);
  --token-MKf1CEgX734D: #facc15;
  --plasmic-token-warning-warning: var(--token-MKf1CEgX734D);
  --token-ERBYmZi59wpu: #dbeafe;
  --plasmic-token-brand-brand-soft: var(--token-ERBYmZi59wpu);
  --token-kcinLTo807Dr: #e5e7eb;
  --plasmic-token-neutral-neutral-soft: var(--token-kcinLTo807Dr);
  --token-CljjtlmBSWr_: #f3f4f6;
  --plasmic-token-muted-muted-soft: var(--token-CljjtlmBSWr_);
  --token-VcnOsSD4t7rR: #dcfce7;
  --plasmic-token-success-success-soft: var(--token-VcnOsSD4t7rR);
  --token-sreOsMIBrdpm: #fef9c3;
  --plasmic-token-warning-warning-soft: var(--token-sreOsMIBrdpm);
  --token-wHI1blXieMSx: #fee2e2;
  --plasmic-token-destructive-destructive-soft: var(--token-wHI1blXieMSx);
  --token-Y_ixalnHxqYJ: #93c5fd;
  --plasmic-token-brand-brand-border: var(--token-Y_ixalnHxqYJ);
  --token-v5lBpES5HxQv: #d1d5db;
  --plasmic-token-neutral-neutral-border: var(--token-v5lBpES5HxQv);
  --token--7PyRBJ0buDb: #e5e7eb;
  --plasmic-token-muted-muted-border: var(--token--7PyRBJ0buDb);
  --token-MEtXylmhnxZc: #86efac;
  --plasmic-token-success-success-border: var(--token-MEtXylmhnxZc);
  --token-CZPrYpPDTug6: #fde047;
  --plasmic-token-warning-warning-border: var(--token-CZPrYpPDTug6);
  --token-5DbgJGjXckck: #fca5a5;
  --plasmic-token-destructive-destructive-border: var(--token-5DbgJGjXckck);
  --token-oG7BX-uKs8Sg: #0000001a;
  --plasmic-token-interaction-hovered: var(--token-oG7BX-uKs8Sg);
  --token-rgkdl_CYZOAN: #ffffff40;
  --plasmic-token-interaction-disabled: var(--token-rgkdl_CYZOAN);
  --token-tnHkhLAPXfSF: #00000033;
  --plasmic-token-interaction-pressed: var(--token-tnHkhLAPXfSF);
  --token-QewKiWJbByBM: 0.625rem;
  --plasmic-token-size-10: var(--token-QewKiWJbByBM);
  --token-IwWD-5aGe_KT: 0.75rem;
  --plasmic-token-size-12: var(--token-IwWD-5aGe_KT);
  --token-xV24Si41FTTP: #eff6ff;
  --plasmic-token-brand-brand-foreground: var(--token-xV24Si41FTTP);
  --token-x3QBnUORNvrr: #f9fafb;
  --plasmic-token-neutral-neutral-foreground: var(--token-x3QBnUORNvrr);
  --token-wLx0VV7qoepZ: #e5e7eb;
  --plasmic-token-muted-muted-foreground: var(--token-wLx0VV7qoepZ);
  --token-YpKU_nJurxck: #1e3a8a;
  --plasmic-token-brand-brand-soft-foreground: var(--token-YpKU_nJurxck);
  --token-7WY7kcfnrfMu: #422006;
  --plasmic-token-warning-warning-foreground: var(--token-7WY7kcfnrfMu);
  --token-W9S3Nb2M4hD-: #f0fdf4;
  --plasmic-token-success-success-foreground: var(--token-W9S3Nb2M4hD-);
  --token-1O_S8mtBi4na: #fef2f2;
  --plasmic-token-destructive-destructive-foreground: var(--token-1O_S8mtBi4na);
  --token-3Kiwd758DGuK: #111827;
  --plasmic-token-neutral-neutral-soft-foreground: var(--token-3Kiwd758DGuK);
  --token-f26NSJIrMNGb: #6b7280;
  --plasmic-token-muted-muted-soft-foreground: var(--token-f26NSJIrMNGb);
  --token-khxBzJ96DBiL: #14532d;
  --plasmic-token-success-success-soft-foreground: var(--token-khxBzJ96DBiL);
  --token-KI4X6H_4XXKp: #713f12;
  --plasmic-token-warning-warning-soft-foreground: var(--token-KI4X6H_4XXKp);
  --token-m3FPp8M9mk83: #7f1d1d;
  --plasmic-token-destructive-destructive-soft-foreground: var(
    --token-m3FPp8M9mk83
  );
  --token-jwQvWGLcVahU: #faf9f61a;
  --plasmic-token-unnamed-style-token: var(--token-jwQvWGLcVahU);
  --token-BfSOf5vLzySy: 1px;
  --plasmic-token-unnamed-style-token-2: var(--token-BfSOf5vLzySy);
  --token-sWnH7J8qG6R4: 50px;
  --plasmic-token-unnamed-style-token-3: var(--token-sWnH7J8qG6R4);
  --token-KeBg9WsSplhC: 50px;
  --plasmic-token-p-1: var(--token-KeBg9WsSplhC);
  --token-bWx7W9i0705k: 50px;
  --plasmic-token-p-1-2: var(--token-bWx7W9i0705k);
  --token-6ZcEUdP5piEr: var(--token-KeBg9WsSplhC);
  --plasmic-token-unnamed-style-token-4: var(--token-6ZcEUdP5piEr);
  --token-uthSQEFHDIfQ: var(--token-KeBg9WsSplhC);
  --plasmic-token-unnamed-style-token-5: var(--token-uthSQEFHDIfQ);
  --token-5i0QmGi-BXDx: 1px;
  --plasmic-token-unnamed-style-token-6: var(--token-5i0QmGi-BXDx);
  --token-3UXGItrePR7G: var(--token-KeBg9WsSplhC);
  --plasmic-token-unnamed-style-token-7: var(--token-3UXGItrePR7G);
  --token-XJqy5xToOz66: 200px;
  --plasmic-token-unnamed-style-token-8: var(--token-XJqy5xToOz66);
  --token-bi9ID-dhNFN1: var(--token-XJqy5xToOz66);
  --plasmic-token-unnamed-style-token-9: var(--token-bi9ID-dhNFN1);
  --token-4ENEb3qMCaVb: #da1e28;
  --plasmic-token-unnamed-style-token-10: var(--token-4ENEb3qMCaVb);
  --token-WTZoTwUvqWlU: 1000px;
  --plasmic-token-1000: var(--token-WTZoTwUvqWlU);
  --token-EiOHVBgS-QSe: 550px;
  --plasmic-token-unnamed-style-token-11: var(--token-EiOHVBgS-QSe);
  --token-83V7s-bXfPdq: 2rem;
  --plasmic-token-size-32: var(--token-83V7s-bXfPdq);
  --token-IJk3BJcuFlwJ: #6b7280;
  --plasmic-token-basic-text-secondary: var(--token-IJk3BJcuFlwJ);
  --token-sHTVOBUjUz3V: #030712;
  --plasmic-token-basic-text-primary: var(--token-sHTVOBUjUz3V);
  --token-NqMclD87XW7B: #d1d5db;
  --plasmic-token-basic-border: var(--token-NqMclD87XW7B);
  --token-abMiWw-kljAy: #e5e7eb;
  --plasmic-token-muted-muted-soft-hover: var(--token-abMiWw-kljAy);
  --token-jKI8xdqkBvPN: 1.25rem;
  --plasmic-token-size-20: var(--token-jKI8xdqkBvPN);
  --token-rrDV18LqTQeF: #9ca3af;
  --plasmic-token-basic-ring: var(--token-rrDV18LqTQeF);
  --token-6n_Fkn_Tf5l1: #ffffff;
  --plasmic-token-basic-container-background: var(--token-6n_Fkn_Tf5l1);
  --token-wKC1ZO1F_v9s: 1rem;
  --plasmic-token-size-16: var(--token-wKC1ZO1F_v9s);
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-vWVq6nBTSTlr_font-family: "Inter", sans-serif;
  --mixin-vWVq6nBTSTlr_font-size: 18px;
  --mixin-vWVq6nBTSTlr_font-weight: 400;
  --mixin-vWVq6nBTSTlr_font-style: normal;
  --mixin-vWVq6nBTSTlr_color: var(--token-5yZyLb7pA57d);
  --mixin-vWVq6nBTSTlr_text-align: left;
  --mixin-vWVq6nBTSTlr_text-transform: none;
  --mixin-vWVq6nBTSTlr_line-height: 1.5;
  --mixin-vWVq6nBTSTlr_letter-spacing: normal;
  --mixin-vWVq6nBTSTlr_white-space: pre-wrap;
  --mixin-vWVq6nBTSTlr_user-select: text;
  --mixin-vWVq6nBTSTlr_text-decoration-line: none;
  --mixin-vWVq6nBTSTlr_text-overflow: clip;
  --mixin-ZzSij6D6CXDv_font-family: "Inter", sans-serif;
  --mixin-ZzSij6D6CXDv_color: #000000;
  --mixin-ZzSij6D6CXDv_font-size: 72px;
  --mixin-ZzSij6D6CXDv_font-weight: 900;
  --mixin-ZzSij6D6CXDv_letter-spacing: -4px;
  --mixin-ZzSij6D6CXDv_line-height: 1;
  --mixin-ZzSij6D6CXDv_white-space: pre-wrap;
  --mixin-_83uKMg7GQYv_font-family: "Inter", sans-serif;
  --mixin-_83uKMg7GQYv_color: #000000;
  --mixin-_83uKMg7GQYv_font-size: 48px;
  --mixin-_83uKMg7GQYv_font-weight: 700;
  --mixin-_83uKMg7GQYv_letter-spacing: -1px;
  --mixin-_83uKMg7GQYv_line-height: 1.1;
  --mixin-_83uKMg7GQYv_white-space: pre-wrap;
  --mixin-2zPcntT62Hl__font-family: "Inter", sans-serif;
  --mixin-2zPcntT62Hl__color: #000000;
  --mixin-2zPcntT62Hl__font-size: 32px;
  --mixin-2zPcntT62Hl__font-weight: 600;
  --mixin-2zPcntT62Hl__letter-spacing: -0.8px;
  --mixin-2zPcntT62Hl__line-height: 1.2;
  --mixin-2zPcntT62Hl__white-space: pre-wrap;
  --mixin-dZQenyaiwmnN_font-family: "Inter", sans-serif;
  --mixin-dZQenyaiwmnN_color: #000000;
  --mixin-dZQenyaiwmnN_font-size: 24px;
  --mixin-dZQenyaiwmnN_font-weight: 600;
  --mixin-dZQenyaiwmnN_letter-spacing: -0.5px;
  --mixin-dZQenyaiwmnN_line-height: 1.3;
  --mixin-dZQenyaiwmnN_white-space: pre-wrap;
  --mixin-XXkjT3t7BqHS_font-family: "Inter", sans-serif;
  --mixin-XXkjT3t7BqHS_color: #000000;
  --mixin-XXkjT3t7BqHS_font-size: 20px;
  --mixin-XXkjT3t7BqHS_font-weight: 600;
  --mixin-XXkjT3t7BqHS_letter-spacing: -0.3px;
  --mixin-XXkjT3t7BqHS_line-height: 1.5;
  --mixin-XXkjT3t7BqHS_white-space: pre-wrap;
  --mixin-UbVZp_r0aCIP_font-family: "Inter", sans-serif;
  --mixin-UbVZp_r0aCIP_color: #000000;
  --mixin-UbVZp_r0aCIP_font-size: 16px;
  --mixin-UbVZp_r0aCIP_font-weight: 600;
  --mixin-UbVZp_r0aCIP_line-height: 1.5;
  --mixin-UbVZp_r0aCIP_white-space: pre-wrap;
  --mixin-JxSykgsvCauf_border-left-color: #dddddd;
  --mixin-JxSykgsvCauf_border-left-style: solid;
  --mixin-JxSykgsvCauf_border-left-width: 3px;
  --mixin-JxSykgsvCauf_color: #888888;
  --mixin-JxSykgsvCauf_padding-left: 10px;
  --mixin-JxSykgsvCauf_white-space: pre-wrap;
  --mixin-E_fdvLvfmP53_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-E_fdvLvfmP53_border-bottom-color: #dddddd;
  --mixin-E_fdvLvfmP53_border-bottom-style: solid;
  --mixin-E_fdvLvfmP53_border-bottom-width: 1px;
  --mixin-E_fdvLvfmP53_border-left-color: #dddddd;
  --mixin-E_fdvLvfmP53_border-left-style: solid;
  --mixin-E_fdvLvfmP53_border-left-width: 1px;
  --mixin-E_fdvLvfmP53_border-right-color: #dddddd;
  --mixin-E_fdvLvfmP53_border-right-style: solid;
  --mixin-E_fdvLvfmP53_border-right-width: 1px;
  --mixin-E_fdvLvfmP53_border-top-color: #dddddd;
  --mixin-E_fdvLvfmP53_border-top-style: solid;
  --mixin-E_fdvLvfmP53_border-top-width: 1px;
  --mixin-E_fdvLvfmP53_border-bottom-left-radius: 3px;
  --mixin-E_fdvLvfmP53_border-bottom-right-radius: 3px;
  --mixin-E_fdvLvfmP53_border-top-left-radius: 3px;
  --mixin-E_fdvLvfmP53_border-top-right-radius: 3px;
  --mixin-E_fdvLvfmP53_font-family: "Inconsolata";
  --mixin-E_fdvLvfmP53_padding-bottom: 1px;
  --mixin-E_fdvLvfmP53_padding-left: 4px;
  --mixin-E_fdvLvfmP53_padding-right: 4px;
  --mixin-E_fdvLvfmP53_padding-top: 1px;
  --mixin-E_fdvLvfmP53_white-space: pre-wrap;
  --mixin-Sd2Kn5yd6N_H_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-Sd2Kn5yd6N_H_border-bottom-color: #dddddd;
  --mixin-Sd2Kn5yd6N_H_border-bottom-style: solid;
  --mixin-Sd2Kn5yd6N_H_border-bottom-width: 1px;
  --mixin-Sd2Kn5yd6N_H_border-left-color: #dddddd;
  --mixin-Sd2Kn5yd6N_H_border-left-style: solid;
  --mixin-Sd2Kn5yd6N_H_border-left-width: 1px;
  --mixin-Sd2Kn5yd6N_H_border-right-color: #dddddd;
  --mixin-Sd2Kn5yd6N_H_border-right-style: solid;
  --mixin-Sd2Kn5yd6N_H_border-right-width: 1px;
  --mixin-Sd2Kn5yd6N_H_border-top-color: #dddddd;
  --mixin-Sd2Kn5yd6N_H_border-top-style: solid;
  --mixin-Sd2Kn5yd6N_H_border-top-width: 1px;
  --mixin-Sd2Kn5yd6N_H_border-bottom-left-radius: 3px;
  --mixin-Sd2Kn5yd6N_H_border-bottom-right-radius: 3px;
  --mixin-Sd2Kn5yd6N_H_border-top-left-radius: 3px;
  --mixin-Sd2Kn5yd6N_H_border-top-right-radius: 3px;
  --mixin-Sd2Kn5yd6N_H_font-family: "Inconsolata";
  --mixin-Sd2Kn5yd6N_H_padding-bottom: 3px;
  --mixin-Sd2Kn5yd6N_H_padding-left: 6px;
  --mixin-Sd2Kn5yd6N_H_padding-right: 6px;
  --mixin-Sd2Kn5yd6N_H_padding-top: 3px;
  --mixin-Sd2Kn5yd6N_H_white-space: pre-wrap;
  --mixin-vpfFYIxpY7cF_display: flex;
  --mixin-vpfFYIxpY7cF_flex-direction: column;
  --mixin-vpfFYIxpY7cF_align-items: stretch;
  --mixin-vpfFYIxpY7cF_justify-content: flex-start;
  --mixin-vpfFYIxpY7cF_list-style-position: outside;
  --mixin-vpfFYIxpY7cF_padding-left: 40px;
  --mixin-vpfFYIxpY7cF_position: relative;
  --mixin-vpfFYIxpY7cF_list-style-type: decimal;
  --mixin-vpfFYIxpY7cF_white-space: pre-wrap;
  --mixin-SHqhgeNRcKHO_display: flex;
  --mixin-SHqhgeNRcKHO_flex-direction: column;
  --mixin-SHqhgeNRcKHO_align-items: stretch;
  --mixin-SHqhgeNRcKHO_justify-content: flex-start;
  --mixin-SHqhgeNRcKHO_list-style-position: outside;
  --mixin-SHqhgeNRcKHO_padding-left: 40px;
  --mixin-SHqhgeNRcKHO_position: relative;
  --mixin-SHqhgeNRcKHO_list-style-type: disc;
  --mixin-SHqhgeNRcKHO_white-space: pre-wrap;
}

.plasmic_mixins {
  --mixin--yTv249Zedb3_white-space: pre-wrap;
  --plasmic-mixin-card-heading_white-space: var(
    --mixin--yTv249Zedb3_white-space
  );
  --mixin-7xZw2uXl8Qk4_white-space: pre-wrap;
  --plasmic-mixin-centered-section-text_white-space: var(
    --mixin-7xZw2uXl8Qk4_white-space
  );
  --mixin--AErOfO2_7Rv_white-space: pre-wrap;
  --plasmic-mixin-subheader_white-space: var(--mixin--AErOfO2_7Rv_white-space);
  --mixin-IQh2VAc-oo5F_white-space: pre-wrap;
  --plasmic-mixin-footer-link_white-space: var(
    --mixin-IQh2VAc-oo5F_white-space
  );
  --mixin-SPnUMARfdXR0_white-space: pre-wrap;
  --plasmic-mixin-content_white-space: var(--mixin-SPnUMARfdXR0_white-space);
  --mixin-uxOAUJn6UTpB_white-space: pre-wrap;
  --plasmic-mixin-section_white-space: var(--mixin-uxOAUJn6UTpB_white-space);
  --mixin-npUBM23-vsjV_white-space: pre-wrap;
  --plasmic-mixin-unnamed-style-preset_white-space: var(
    --mixin-npUBM23-vsjV_white-space
  );
  --mixin-Y9b8y_fVIrFO_white-space: pre-wrap;
  --plasmic-mixin-unnamed-style-preset-2_white-space: var(
    --mixin-Y9b8y_fVIrFO_white-space
  );
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  row-gap: 0px;
  column-gap: 0px;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  row-gap: 0px;
  column-gap: 0px;
  box-shadow: none;
  box-sizing: border-box;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-vWVq6nBTSTlr_font-family);
  font-size: var(--mixin-vWVq6nBTSTlr_font-size);
  font-weight: var(--mixin-vWVq6nBTSTlr_font-weight);
  font-style: var(--mixin-vWVq6nBTSTlr_font-style);
  color: var(--mixin-vWVq6nBTSTlr_color);
  text-align: var(--mixin-vWVq6nBTSTlr_text-align);
  text-transform: var(--mixin-vWVq6nBTSTlr_text-transform);
  line-height: var(--mixin-vWVq6nBTSTlr_line-height);
  letter-spacing: var(--mixin-vWVq6nBTSTlr_letter-spacing);
  white-space: var(--mixin-vWVq6nBTSTlr_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  font-family: var(--mixin-ZzSij6D6CXDv_font-family);
  color: var(--mixin-ZzSij6D6CXDv_color);
  font-size: var(--mixin-ZzSij6D6CXDv_font-size);
  font-weight: var(--mixin-ZzSij6D6CXDv_font-weight);
  letter-spacing: var(--mixin-ZzSij6D6CXDv_letter-spacing);
  line-height: var(--mixin-ZzSij6D6CXDv_line-height);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  font-family: var(--mixin-_83uKMg7GQYv_font-family);
  color: var(--mixin-_83uKMg7GQYv_color);
  font-size: var(--mixin-_83uKMg7GQYv_font-size);
  font-weight: var(--mixin-_83uKMg7GQYv_font-weight);
  letter-spacing: var(--mixin-_83uKMg7GQYv_letter-spacing);
  line-height: var(--mixin-_83uKMg7GQYv_line-height);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  font-family: var(--mixin-2zPcntT62Hl__font-family);
  color: var(--mixin-2zPcntT62Hl__color);
  font-size: var(--mixin-2zPcntT62Hl__font-size);
  font-weight: var(--mixin-2zPcntT62Hl__font-weight);
  letter-spacing: var(--mixin-2zPcntT62Hl__letter-spacing);
  line-height: var(--mixin-2zPcntT62Hl__line-height);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  font-family: var(--mixin-dZQenyaiwmnN_font-family);
  color: var(--mixin-dZQenyaiwmnN_color);
  font-size: var(--mixin-dZQenyaiwmnN_font-size);
  font-weight: var(--mixin-dZQenyaiwmnN_font-weight);
  letter-spacing: var(--mixin-dZQenyaiwmnN_letter-spacing);
  line-height: var(--mixin-dZQenyaiwmnN_line-height);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  font-family: var(--mixin-XXkjT3t7BqHS_font-family);
  color: var(--mixin-XXkjT3t7BqHS_color);
  font-size: var(--mixin-XXkjT3t7BqHS_font-size);
  font-weight: var(--mixin-XXkjT3t7BqHS_font-weight);
  letter-spacing: var(--mixin-XXkjT3t7BqHS_letter-spacing);
  line-height: var(--mixin-XXkjT3t7BqHS_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  font-family: var(--mixin-UbVZp_r0aCIP_font-family);
  color: var(--mixin-UbVZp_r0aCIP_color);
  font-size: var(--mixin-UbVZp_r0aCIP_font-size);
  font-weight: var(--mixin-UbVZp_r0aCIP_font-weight);
  line-height: var(--mixin-UbVZp_r0aCIP_line-height);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-JxSykgsvCauf_color);
  padding-left: var(--mixin-JxSykgsvCauf_padding-left);
  border-left: var(--mixin-JxSykgsvCauf_border-left-width)
    var(--mixin-JxSykgsvCauf_border-left-style)
    var(--mixin-JxSykgsvCauf_border-left-color);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-E_fdvLvfmP53_font-family);
  border-radius: var(--mixin-E_fdvLvfmP53_border-top-left-radius)
    var(--mixin-E_fdvLvfmP53_border-top-right-radius)
    var(--mixin-E_fdvLvfmP53_border-bottom-right-radius)
    var(--mixin-E_fdvLvfmP53_border-bottom-left-radius);
  padding: var(--mixin-E_fdvLvfmP53_padding-top)
    var(--mixin-E_fdvLvfmP53_padding-right)
    var(--mixin-E_fdvLvfmP53_padding-bottom)
    var(--mixin-E_fdvLvfmP53_padding-left);
  border-top: var(--mixin-E_fdvLvfmP53_border-top-width)
    var(--mixin-E_fdvLvfmP53_border-top-style)
    var(--mixin-E_fdvLvfmP53_border-top-color);
  border-right: var(--mixin-E_fdvLvfmP53_border-right-width)
    var(--mixin-E_fdvLvfmP53_border-right-style)
    var(--mixin-E_fdvLvfmP53_border-right-color);
  border-bottom: var(--mixin-E_fdvLvfmP53_border-bottom-width)
    var(--mixin-E_fdvLvfmP53_border-bottom-style)
    var(--mixin-E_fdvLvfmP53_border-bottom-color);
  border-left: var(--mixin-E_fdvLvfmP53_border-left-width)
    var(--mixin-E_fdvLvfmP53_border-left-style)
    var(--mixin-E_fdvLvfmP53_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-Sd2Kn5yd6N_H_font-family);
  border-radius: var(--mixin-Sd2Kn5yd6N_H_border-top-left-radius)
    var(--mixin-Sd2Kn5yd6N_H_border-top-right-radius)
    var(--mixin-Sd2Kn5yd6N_H_border-bottom-right-radius)
    var(--mixin-Sd2Kn5yd6N_H_border-bottom-left-radius);
  padding: var(--mixin-Sd2Kn5yd6N_H_padding-top)
    var(--mixin-Sd2Kn5yd6N_H_padding-right)
    var(--mixin-Sd2Kn5yd6N_H_padding-bottom)
    var(--mixin-Sd2Kn5yd6N_H_padding-left);
  border-top: var(--mixin-Sd2Kn5yd6N_H_border-top-width)
    var(--mixin-Sd2Kn5yd6N_H_border-top-style)
    var(--mixin-Sd2Kn5yd6N_H_border-top-color);
  border-right: var(--mixin-Sd2Kn5yd6N_H_border-right-width)
    var(--mixin-Sd2Kn5yd6N_H_border-right-style)
    var(--mixin-Sd2Kn5yd6N_H_border-right-color);
  border-bottom: var(--mixin-Sd2Kn5yd6N_H_border-bottom-width)
    var(--mixin-Sd2Kn5yd6N_H_border-bottom-style)
    var(--mixin-Sd2Kn5yd6N_H_border-bottom-color);
  border-left: var(--mixin-Sd2Kn5yd6N_H_border-left-width)
    var(--mixin-Sd2Kn5yd6N_H_border-left-style)
    var(--mixin-Sd2Kn5yd6N_H_border-left-color);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-vpfFYIxpY7cF_display);
  flex-direction: var(--mixin-vpfFYIxpY7cF_flex-direction);
  align-items: var(--mixin-vpfFYIxpY7cF_align-items);
  justify-content: var(--mixin-vpfFYIxpY7cF_justify-content);
  list-style-position: var(--mixin-vpfFYIxpY7cF_list-style-position);
  padding-left: var(--mixin-vpfFYIxpY7cF_padding-left);
  position: var(--mixin-vpfFYIxpY7cF_position);
  list-style-type: var(--mixin-vpfFYIxpY7cF_list-style-type);
  column-gap: var(--mixin-vpfFYIxpY7cF_column-gap);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-SHqhgeNRcKHO_display);
  flex-direction: var(--mixin-SHqhgeNRcKHO_flex-direction);
  align-items: var(--mixin-SHqhgeNRcKHO_align-items);
  justify-content: var(--mixin-SHqhgeNRcKHO_justify-content);
  list-style-position: var(--mixin-SHqhgeNRcKHO_list-style-position);
  padding-left: var(--mixin-SHqhgeNRcKHO_padding-left);
  position: var(--mixin-SHqhgeNRcKHO_position);
  list-style-type: var(--mixin-SHqhgeNRcKHO_list-style-type);
  column-gap: var(--mixin-SHqhgeNRcKHO_column-gap);
}
