.ariaCheckbox:global(.__wab_instance) {
  object-fit: cover;
  cursor: pointer;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  display: flex;
  box-sizing: border-box;
  color: var(--token-sHTVOBUjUz3V);
  font-family: var(--token-yXm_0-h1rIqi);
  font-size: var(--token-Wd6_bo1gvu55);
  line-height: var(--token-dBdV0gebCqMP);
  width: 100%;
  column-gap: var(--token-rF7dxCNFg2yO);
  min-width: 0;
}
.ariaCheckbox[data-disabled]:global(.__wab_instance) {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}
.ariaCheckbox[data-readonly]:global(.__wab_instance) {
  cursor: default;
  pointer-events: none;
}
.freeBox {
  position: relative;
  width: var(--token-jKI8xdqkBvPN);
  height: var(--token-jKI8xdqkBvPN);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: var(--token-N6MKaZeRAIQb);
  border: 2px solid var(--token-rrDV18LqTQeF);
}
.ariaCheckbox[data-focus-visible] .freeBox {
  outline-style: solid;
  outline-color: var(--token-YMDZE7Svla9D);
  outline-offset: 1px;
  outline-width: 2px;
}
.ariaCheckbox[data-indeterminate] .freeBox {
  background: var(--token-YMDZE7Svla9D);
  border-color: var(--token-YMDZE7Svla9D);
}
.ariaCheckbox[data-selected] .freeBox {
  background: var(--token-YMDZE7Svla9D);
  border-color: var(--token-YMDZE7Svla9D);
}
.svg__vS915 {
  position: relative;
  color: #ffffff;
  height: 1em;
  flex-shrink: 0;
}
.ariaCheckbox[data-selected] .svg__vS915 {
  display: block;
}
.svg__dA0P {
  position: relative;
  color: #ffffff;
  height: 1em;
  flex-shrink: 0;
}
.ariaCheckbox[data-indeterminate] .svg__dA0P {
  display: block;
}
